<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
  <extension id="io.unthrottled.doki.theme.fragment" point="org.eclipse.e4.workbench.model">
    <fragment apply="notexists" uri="fragment.e4xmi"/>
  </extension>
  <extension id="product" point="org.eclipse.core.runtime.products"/>
  <extension point="org.eclipse.ui.preferencePages">
    <page class="io.unthrottled.doki.theme.preferences.ThemePreferences" id="io.unthrottled.doki.theme.preferences.ThemePreferences" name="%page.name"/>
  </extension>
  <extension point="org.eclipse.core.runtime.preferences">
    <initializer class="io.unthrottled.doki.theme.preferences.PreferenceInitializer"/>
  </extension>
</plugin>