<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="io.unthrottled.doki.theme.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
         <theme
            basestylesheeturi="themes/css/ryuko.css"
            id="dark_19b65ec8-133c-4655-a77b-13623d8e97d3"
            label="Ryuko">
      	</theme>
      	<stylesheet
         uri="themes/css/e4-dark_preferencestyle.css">
      		<themeid
            	refid="dark_19b65ec8-133c-4655-a77b-13623d8e97d3"></themeid>
   		</stylesheet>
   </extension>
 <extension
   id="product"
   point="org.eclipse.core.runtime.products">
 </extension>
</plugin>
