@import url("platform:/plugin/org.eclipse.ui.themes/css/e4-dark_linux.css");



ColorDefinition#org-eclipse-ui-workbench-ACTIVE_TAB_BG_END {
    color: #ff0000;
    category: '#org-eclipse-ui-presentation-default';
    label: url('platform:/plugin/org.eclipse.ui.themes?message=ACTIVE_TAB_BG_END');
}