/* ############################## JDT syntax highlighting ############################## */

IEclipsePreferences#org-eclipse-jdt-ui:org-eclipse-jdt-ui { /* pseudo attribute added to allow contributions without replacing this node, see Bug 466075 */
	preferences:
		'content_assist_completion_replacement_background=200,200,0'
		'content_assist_completion_replacement_foreground=200,0,0'
		'content_assist_parameters_background=52,57,61'
		'content_assist_parameters_foreground=238,238,238'
		'content_assist_proposals_background=52,57,61'
		'content_assist_proposals_foreground=238,238,238'
		'java_bracket=249,250,244'
		'java_comment_task_tag=154,140,124'
		'java_default=217,232,247'
		'java_doc_default=128,128,128'
		'java_doc_keyword=154,140,124'
		'java_doc_link=169,156,140'
		'java_doc_tag=30,120,155'
		'java_keyword=204,108,29'
		'java_keyword_bold=false'
		'java_keyword_return=204,108,29'
		'java_keyword_return_bold=false'
		'java_multi_line_comment=128,128,128'
		'java_operator=230,230,250'
		'java_single_line_comment=128,128,128'
		'java_string=23,198,163'
		'matchingBracketsColor=249,250,244'
		'pf_coloring_argument=221,40,103'
		'pf_coloring_assignment=217,232,247'
		'pf_coloring_comment=128,128,128'
		'pf_coloring_key=217,232,247'
		'pf_coloring_value=23,198,163'
		'semanticHighlighting.abstractClass.color=62,171,230'
		'semanticHighlighting.abstractClass.enabled=true'
		'semanticHighlighting.abstractMethodInvocation.color=128,246,167'
		'semanticHighlighting.abstractMethodInvocation.enabled=true'
		'semanticHighlighting.annotation.color=160,160,160'
		'semanticHighlighting.annotation.enabled=true'
		'semanticHighlighting.annotation.italic=true'
		'semanticHighlighting.annotationElementReference.color=235,75,100'
		'semanticHighlighting.annotationElementReference.enabled=true'
		'semanticHighlighting.class.color=18,144,195'
		'semanticHighlighting.class.enabled=true'
		'semanticHighlighting.deprecatedMember.color=128,128,128'
		'semanticHighlighting.deprecatedMember.enabled=true'
		'semanticHighlighting.deprecatedMember.underline=false'
		'semanticHighlighting.deprecatedMember.strikethrough=true'
		'semanticHighlighting.enum.color=204,129,186'
		'semanticHighlighting.enum.enabled=true'
		'semanticHighlighting.enum.italic=true'
		'semanticHighlighting.field.color=102,225,248'
		'semanticHighlighting.field.enabled=true'
		'semanticHighlighting.inheritedField.color=143,143,191'
		'semanticHighlighting.inheritedMethodInvocation.color=205,246,104'
		'semanticHighlighting.inheritedMethodInvocation.enabled=true'
		'semanticHighlighting.interface.color=128,242,246'
		'semanticHighlighting.interface.enabled=true'
		'semanticHighlighting.localVariable.color=243,236,121'
		'semanticHighlighting.localVariable.enabled=true'
		'semanticHighlighting.localVariableDeclaration.color=242,242,0'
		'semanticHighlighting.localVariableDeclaration.enabled=true'
		'semanticHighlighting.localVariableDeclaration.bold=false'
		'semanticHighlighting.method.color=167,236,33'
		'semanticHighlighting.method.enabled=true'
		'semanticHighlighting.methodDeclarationName.color=30,181,64'
		'semanticHighlighting.methodDeclarationName.enabled=true'
		'semanticHighlighting.methodDeclarationName.bold=false'
		'semanticHighlighting.number.color=104,151,187'
		'semanticHighlighting.number.enabled=true'
		'semanticHighlighting.parameterVariable.color=121,171,255'
		'semanticHighlighting.parameterVariable.enabled=true'
		'semanticHighlighting.staticField.color=141,218,248'
		'semanticHighlighting.staticField.enabled=true'
		'semanticHighlighting.staticFinalField.color=141,218,248'
		'semanticHighlighting.staticFinalField.enabled=true'
		'semanticHighlighting.staticMethodInvocation.color=150,236,63'
		'semanticHighlighting.staticMethodInvocation.enabled=true'
		'semanticHighlighting.typeArgument.color=177,102,218'
		'semanticHighlighting.typeArgument.enabled=true'
		'semanticHighlighting.typeParameter.color=191,164,164'
		'semanticHighlighting.typeParameter.enabled=true'
		'semanticHighlighting.typeParameter.bold=false'
		'semanticHighlighting.varKeyword.color=204,108,29'
		'semanticHighlighting.varKeyword.bold=false'
		'semanticHighlighting.yieldKeyword.color=204,108,29'
		'semanticHighlighting.yieldKeyword.bold=false'
		'semanticHighlighting.recordKeyword.color=204,108,29'
		'semanticHighlighting.recordKeyword.bold=false'
		'sourceHoverBackgroundColor=68,68,68'
}


IEclipsePreferences#org-eclipse-ui-workbench:org-eclipse-jdt-ui { /* pseudo attribute added to allow contributions without replacing this node, see Bug 466075 */
	preferences:
		'org.eclipse.jdt.ui.ColoredLabels.inherited=143,143,191'
		'org.eclipse.jdt.ui.Javadoc.backgroundColor=52,57,61'
		'org.eclipse.jdt.ui.Javadoc.foregroundColor=238,238,238'
		'org.eclipse.jdt.ui.ColoredLabels.writeaccess_highlight=255,128,128'
}

BulletListBlock > StyledText {
    background-color: {{baseBackground}};
    color: {{foregroundColor}};
}

FormatterPreferenceSectionComposite {
    background-color: {{baseBackground}};
    color: {{foregroundColor}};
    swt-titlebar-color: {{borderColor}};
}

#BreadcrumbComposite > Composite,
#BreadcrumbItemComposite,
#BreadcrumbItemDetailComposite,
#BreadcrumbItemDetailTextComposite,
#BreadcrumbItemDetailImageComposite,
#BreadcrumbItemDetailTextLabel,
#BreadcrumbItemDetailImageLabel,
#BreadcrumbItemDropDownToolBar
{
    /*
     * Bug 465666
     *
     * Note: as we can't change the arrow to black, we configure
     * the background with the lighter color used for the background
     * of toolbars and make the foreground color brighter too.
     */
    background-color: {{baseBackground}};
    color: {{foregroundColor}};
}



/** durk preference style ***/
IEclipsePreferences#org-eclipse-ui-editors:org-eclipse-ui-themes { /* pseudo attribute added to allow contributions without replacing this node, see Bug 466075 */
	preferences:
			'AbstractTextEditor.Color.Background.SystemDefault=false'
			'AbstractTextEditor.Color.SelectionForeground.SystemDefault=false'
			'AbstractTextEditor.Color.SelectionBackground.SystemDefault=false'
			'AbstractTextEditor.Color.Background=47,47,47'
			'AbstractTextEditor.Color.Foreground.SystemDefault=false'
			'AbstractTextEditor.Color.SelectionBackground={{^selectionBackground}}'
			'AbstractTextEditor.Color.SelectionForeground={{^selectionForeground}}'
			'AbstractTextEditor.Color.Foreground={{foregroundColor}}'
			'AbstractTextEditor.Color.FindScope=30,120,155'
			'asOccurencesIndicationColor=72,72,72'
			'breakpointIndicationColor=51,119,193'
			'currentIPColor=90,90,90'
			'currentLineColor=55,55,55'
			'deletionIndicationColor=224,226,228'
			'filteredSearchResultIndicationColor=27,98,145'
			'hyperlinkColor=102,175,249'
			'hyperlinkColor.SystemDefault=false'
			'infoIndicationColor=86,194,170'
			'lineNumberColor=119,145,154'
			'linked.slave.color=66,156,255'
			'matchingTagIndicationColor=72,72,72'
			'occurrenceIndicationColor=27,98,145'
			'overrideIndicatorColor=78,120,117'
			'printMarginColor=255,0,0'
			'searchResultHighlighting=false'
			'searchResultIndication=true'
			'searchResultIndicationColor=94,94,94'
			'searchResultTextStyle=BOX'
			'secondaryIPColor=90,90,90'
			'spellingIndicationColor=253,170,211'
			'writeOccurrenceIndicationColor=27,98,145'
}

IEclipsePreferences#org-eclipse-ui-workbench:org-eclipse-ui-themes { /* pseudo attribute added to allow contributions without replacing this node, see Bug 466075 */
	preferences:
			'ACTIVE_HYPERLINK_COLOR=138,201,242'
			'CONFLICTING_COLOR=240,15,66'
			'CONTENT_ASSIST_BACKGROUND_COLOR=52,57,61'
			'CONTENT_ASSIST_FOREGROUND_COLOR=238,238,238'
			'org.eclipse.ui.workbench.INFORMATION_BACKGROUND=81,86,88'
			'org.eclipse.ui.workbench.INFORMATION_FOREGROUND=238,238,238'
			'org.eclipse.ui.workbench.HOVER_BACKGROUND=52,57,61'
			'org.eclipse.ui.workbench.HOVER_FOREGROUND=238,238,238'
			'ERROR_COLOR=247,68,117'
			'HYPERLINK_COLOR={{^accentColor}}'
			'INCOMING_COLOR=31,179,235'
			'OUTGOING_COLOR=238,238,238'
			'RESOLVED_COLOR=108,210,17'
			'org.eclipse.search.ui.match.highlight=206,92,0'
			'org.eclipse.ui.editors.rangeIndicatorColor={{^accentColor}}'
			'org.eclipse.jface.REVISION_NEWEST_COLOR=75,44,3'
			'org.eclipse.jface.REVISION_OLDEST_COLOR=154,113,61'
}